<h4 class="mt-2"> Modificar Tarefa</h4>
<form>
<div class="mt-2">
    <label class="form-label">Título</label>
    <input class="form-control"/>
</div>
<div class="mt-2">
    <label class="form-label">Prioridade:</label>
    <select class="form-select">
        <option value="null">-- Selecione --</option>
        <option value="null">Urgente</option>
    </select>
</div>
<div class="mt-4 mb-2">
    <button class="btn btn-dark">Salvar</button>
    <button class="btn btn-outline-secondary">Cancelar</button>
</div>
</form>