@page "/todolist"
@using TodoList.Components.Components

<PageTitle>Lista de Tarefas</PageTitle>

<h3>Lista de Tarefas</h3>

<button class="btn btn-dark"> Recarregar</button>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Priority</th>
        <th>Done</th>
        <th>DoneDate</th>
        <th>*</th>
    </tr>
    </thead>
    <tbody>
    <tr style="cursor: pointer; text-decoration: line-through" class="table-danger">
        <td>Title</td>
        <td>Priority</td>
        <td>Done</td>
        <td>DoneDate</td>
        <td>
            <button class="btn btn-dark">Editar</button>
            <button class="btn btn-danger">Excluir</button>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <TodoForm />
        </td>
    </tr>
    </tbody>
</table>
<p>Nenhuma tarefa listada</p>